* {
    box-sizing: border-box;
  }
body {
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: rgb(187, 185, 185);
}
header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
    margin: 0;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(182, 169, 169, 0.282);
    color:rgb(187, 185, 185);
}
header a:hover{
    background-color:red;
    border-radius: 5px;
    color:white;
    font-size:50px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
header nav ul li a:hover {
    background-color:red;
    border-radius: 5px;
    color:white;
    font-size:30px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
header h1{
    font-weight: bold;
    font-size: 38px;
    color:rgb(187, 185, 185);
}
header a {
    text-decoration: none;
    color:rgb(187, 185, 185);
}
header nav {
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon{
    border: 3px solid white;
    background-color:white;
}
.icon:hover{
    background-color: red;
    border: 3px solid grey;
    transform: scale(1.4);
    border-radius: 5px;
}
.contact-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: black;
    padding: 15px 0;
}
h2 {
    text-align: right;
    font-style: italic;
    font-size: 45px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    width: 40%;
    border-bottom: 5px solid grey;
}

.name-title {
    font-size: 30px;
    font-style: bold;
}
.bio {
    width: 100%;
    background-color: rgb(240, 230, 230, .8);
    display: flex;
    border: 5px solid grey;
    border-radius: 5px;
    padding: 50px;
}
.bio-image {
    flex: 1;
    padding: 12px
}
.bio-paragraph {
    flex: 1;
    padding: 12px
}

.projects> div {
    flex: 0 0 77%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 5px solid grey;
    color: black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-start;
    padding: 0 0 10px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    font-size: 0.9rem;
    background-position: center;
    border-radius: 5px;
    background-color:rgb(240, 230, 230, .2);
  }
  .flex-item:hover {
    transform: scale(1.05);

  }
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
span, #work h3 {
    background-color:rgb(187, 185, 185);
    padding: 10px;
    margin:0;
}
.about-me .bio .bio-image img {
    max-width: 100%;
}
.about-me .bio .bio-paragraph {
    margin-left: 20px;
}
.run-buddy {
    background-image: url("../images/runbuddy.jpg");
}
.ninja {
    background-image: url("../images/ninja.jpg");
}
.fashion {
    background-image: url("../images/fashion.jpg");
}
.search {
    background-image: url("../images/search.jpg");
}
.game {
    background-image: url("../images/game.jpg");
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100px;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .contact {
        width: 100%;
    }
  
    .about-me {
        flex: 0 70%;
    }
 }
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    header nav ul{
        justify-content: center;
        padding: 0vw;
        flex-basis: 100%;
    }
    header nav ul li a {
        font-size: 5vw;
     }
    h1 {
        text-align: center;
    }
    
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
    .bio {
        flex-direction: column;

      }
    
  
      h2 {
          width: 100%;
          margin:0;
          font-size: 8vw;
      }
}  
@media screen and (max-width: 980px) {
    