* {
    box-sizing: border-box;
  }
body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: rgb(187, 185, 185);
}
header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
    margin: 0;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(182, 169, 169, 0.282);
    color:rgb(187, 185, 185);
}
header a:hover{
    background-color:red;
    border-radius: 5px;
    color:white;
    font-size:50px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
header nav ul li a:hover {
    background-color:red;
    border-radius: 5px;
    color:white;
    font-size:30px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
header h1{
    font-weight: bold;
    font-size: 38px;
    color:rgb(187, 185, 185);
}
header a {
    text-decoration: none;
    color:rgb(187, 185, 185);
}
header nav {
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon{
    border: 3px solid white;
    background-color:white;
}
.icon:hover{
    background-color: red;
    border: 3px solid grey;
    transform: scale(1.4);
    border-radius: 5px;
}
.contact-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: black;
    padding: 15px 0;
}
h2 {
    text-align: right;
    font-style: italic;
    font-size: 45px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    width: 40%;
    border-bottom: 5px solid grey;
}

.about-me {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    min-height: 400px;
    background-image: url(../images/jaime.jpg);
    background-position: right;
    border-radius: 5px;
    border-color:1px grey;
    background-repeat: no-repeat;
   background-attachment: fixed;
}
.name-title {
    font-size: 30px;
    font-style: bold;
    font-family: fantasy;
}
.about-me .bio {
    position: relative;
    max-width: 450px;
    background-color: rgb(240, 230, 230, .8);
    padding: 20px;
    display: flex;
    text-align: center;
}
.about-me .bio .bio-image {
    margin-right: ;
    max-width: 100%;
    flex: 0 0 150px;
}

.projects> div {
    flex: 0 0 77%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 5px solid grey;
    color: black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-start;
    padding: 0 0 10px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    font-size: 0.9rem;
    background-position: center;
    border-radius: 5px;
    background-color:rgb(240, 230, 230, .2);
  }
  .flex-item:hover {
    transform: scale(1.05);

  }
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
span, #work h3 {
    background-color:rgb(187, 185, 185);
    padding: 10px;
    margin:0;
}
.about-me .bio .bio-image img {
    max-width: 100%;
}
.about-me .bio .bio-paragraph {
    margin-left: 20px;
}
.run-buddy {
    background-image: url("../images/runbuddy.jpg");
}
.ninja {
    background-image: url("../images/ninja.jpg");
}
.fashion {
    background-image: url("../images/fashion.jpg");
}
.search {
    background-image: url("../images/search.jpg");
}
.game {
    background-image: url("../images/game.jpg");
}

@media screen and (max-width: 600px) {
    hi {
        text-ali
    }
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
    .about-me {
        text-align: center;
        display: block;
        background-image: none;
        margin:0;
      }
      footer {
        flex-direction: column;
        align-items: flex-start;
      }
      h2 {
          width: 100%;
      }
}  
       
       
        @media screen and (min-width: 600px) {

            @media screen and (min-width: 992px) {